<p>The following task was created for the chore: <%= @task.chore.title %></p>
<br>
<p>Task: <%= @task.content %></p>
<p>Please see the notes associated with this task below - </p>

<div id="todo_items_wrapper">
<% @task.lists.each do |f| %>
  <%if f.content == "" %>
    <p>***No list has been created for this task yet!***</p>
  <% else %>
   <%= render f %>
  <% end %>
 <% end %>

 </div>

 <div class="links">
   <%= link_to 'Back', chore_path(@task.chore_id) %> |
   <%= link_to 'Home', chores_path %> |
   <%= link_to 'Edit', edit_task_path(@task) %>
 </div>
