<section class="todoapp">
  <header class="header">
    <h1>Sign up</h1>
      <%= form_for(@user) do |f| %>
        <%= f.text_field :email, :class => "new-todo", :placeholder => "Register with your email" %>
        <%= f.password_field :password, :class => "new-todo", :placeholder => "Enter password" %>
        <%= f.submit %>
      <% end %>
      <p><%= link_to('Or log in with facebook', '/auth/facebook') %></p>
      <p><%= link_to('Already a user? Log in', login_path) %></p>
  </header>
  <p class = "errors"> <%= @user.errors.full_messages if @user.errors.any? %> </p>
  <footer class="footer">
  </footer>
</section>
