<%= form_with(model: chore, local: true) do |form| %>
  <% if chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
        <% chore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Enter title here" %>
  </div>


  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "Enter a detailed description of the chore here and select one/multiple categories that your chore belongs to below" %>
  </div>


  <div class="field">
  <%= form.label "Categories" %><br />
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>

<!-- <div class="field">
  <%#=collection_check_boxes(:chore, :category_ids, Category.all, :id, :name) %>
</div> This works-->

    <%#= form_for @chore do |f| %>
      <%# Category.all.each do |i| %>
        <div><%#= i.name %> <%#= check_box_tag 'chore[categories][]', i.id, @chore.categories.detect{|ui| ui.name == i.name} %></div>
      <%# end %>
    <%# end %>


  <!-- <div class="field">
    <%#= form.fields_for :categories do |c| %>
          <%#= c.label :category, 'Chore Category 1' %>
          <%#= c.select :category, Category.all.collect { |p| p.name } %>
      <%#end%>
  </div>
  <br> -->



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
