<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @chore.title %></h2>

<p class = "todo_list_subtitle"><%= @chore.description %></p>

<p class = "todo_list_subtitle"> Chore category: <%@chore.categories.each do |c| %>
  <%= render c %>
<% end %>
</p>

<div id="todo_items_wrapper">


<% @chore.tasks.each do |f| %>
   <%= render f %>
 <% end %>

<br>
<br>
<p class = "todo_list_subtitle">Create a new task and note associated with the task below - </p>
  <div id="form">
    <%= render "tasks/form", locals: {task: @task} %>
  </div>

  <br>

  <p class = "todo_list_subtitle">Any questions/comments about the app? </p>
  <div id="form">
    <%= render "comments/form" %>
  </div>

</div>


<br>
<br>

<p class = "todo_list_subtitle">Chore: <%= @chore.title %> - Please see all lists below - </p>
<div id="todo_items_wrapper">
  <% @chore.lists.each do |c| %>
   <% if c.content != ""%>
     <ul>
       <li><p>List Title: <%= c.title %> ---- List Content: <%= c.content %></p></li>
     </ul>
   <% end %>
<% end %>
</div>
<br>
<br>

<div class="links">
  <%= link_to 'Edit', edit_chore_path(@chore) %> |
  <%= link_to 'Home', chores_path %> |
  <%= link_to 'Delete', chore_path(@chore), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %> |
  <%= link_to 'View All Comments', comments_path %> |
  <%= link_to 'View All Tasks&Lists', chore_tasks_path(@chore) %>
</div>
